body {
  min-height: 100vh;
  box-sizing: border-box;
  background-image: radial-gradient(circle, rgba(10, 6, 3, 0.65) 50%, rgba(10, 6, 3, 0.2) 100%),
    url(../assets/images/background/Fundo.webp);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.title h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #C8922A;
  margin: 0;
}

.about-container {
  width: 70px;
  height: 60px;
  display: flex;
  padding: 20px;
  background-color: #8B3A15;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  transition: height 2s, background-color 0.3s;
}

.about-container a {
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.about-container img {
  width: 126px;
  height: 126px;
  display: inline-block;
}

.about-container:hover {
  background-color: #A04520;
  cursor: pointer;
  width: 160px;
  box-shadow: #332622 0px 4px 8px;
}

.randomizer-container {
  width: 150px;
  height: 60px;
  display: flex;
  padding: 20px;
  background-color: #8B3A15;
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  transition: height 0.4s, background-color 0.3s;
}

.randomizer-container a {
  color: #fff;
  font-size: 2rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 42px;
}

.randomizer-container img {
  width: 96px;
  height: 96px;
  display: inline-block;
}

.randomizer-container:hover {
  background-color: #A04520;
  cursor: pointer;
  width: 280px;
  box-shadow: #332622 0px 4px 8px;
}

.main-container {
  background-color: #ffffffd2;
  font-size: 1.4rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}

.filter-container {
  background-color: #0d0d0d9d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  height: 40px;
  gap: 20px;
}

.filter-survivor-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-killer-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.filter-survivor-container img{
  width: 68px;
  height: 68px;
}

.filter-killer-container img{
  width: 68px;
  height: 68px;
}

.filter-container input[type="radio"] {
  display: none;
}

.filter-container input[value="survivor"]:checked + label {
  background-color: #2f4f3a60;
  border: 2px solid;
  border-color: #2F4F3A;
}

.filter-container input[value="killer"]:checked + label {
  background-color: #8b1a1a50 ;
  border: 2px solid;
  border-color: #8B1A1A;
}

.filter-container input[type="radio"]:checked + label {
  transition: all 0.3s;
}

.filter-container label {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #8B3A15;
  padding: 6px 20px;
  text-align: center;
  border-radius: 5px;
  user-select: none;
}

.filter-container .icon-label {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.filter-survivor-container label,
.filter-killer-container label{
  transition: opacity 0.3s;
  cursor: pointer;
}
/* Deixa o outro botão com opacidade para destacar qual você selecionou */

.filter-container:has(input[value="survivor"]:checked) .filter-killer-container {
  opacity: 0.2;
}

.filter-container:has(input[value="killer"]:checked) .filter-survivor-container {
  opacity: 0.2;
}

/* Deixa o cursor padrão para o já selecionado */

.filter-container:has(input[value="survivor"]:checked) .filter-survivor-container * {
  cursor: default;
}

.filter-container:has(input[value="killer"]:checked) .filter-killer-container * {
  cursor: default;
}

.filter-container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #8B3A15;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.other-filters-container {
  display: flex;
}

.itempower-container {
  background-color: #0d0d0d9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
  margin: 10px;
  position: relative;
  overflow: visible;
}
.itempower-container img {
  width: 128px;
  height: 128px;
}

#itempowername {
  color: #ffffff;
}

.itempowertooltip {
  display: none;
  position: absolute;
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  background-color: #1a1a1a;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
}

.itempower-container:hover .itempowertooltip {
  display: block;
}

.itempower-container span {
  font-size: 1.2rem;
  font-weight: bold;
}

[data-rarity="Common"] #itemrarity  { color: #7A5A3A; }
[data-rarity="Uncommon"] #itemrarity { color: #5C8A3C; }
[data-rarity="Rare"]     #itemrarity { color: #2B6FB0; }
[data-rarity="Very Rare"] #itemrarity { color: #7A3FA8; }


.button-randomizer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.button-randomizer-container button {
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: #8B3A15;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button-randomizer-container button:hover {
  background-color: #A04520;
  transform: scale(1.05);
  box-shadow: #332622 0px 4px 8px;
}

.perks-container {
  background-color: #0D0D0D70;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.perks-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.perks-container img {
  margin-bottom: 8px;
}

.perks-container span {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

nav {
  background-color: #0D0D0D;
  padding: 26px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #17100A;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  color: #C8922A;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

nav a:hover {
  color: #984910;
  transition: color 0.2s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.logo span{
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #C8922A;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  gap: 0;
  flex: 2;
}

.nav-links {
  justify-content: center;
  display: flex;
  gap: 24px;
  flex: 1;
}

.nav-auth {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  gap: 24px;
}

.hamburger {
  display: none;
  position: relative;
  background: none;
  border: none;
  width: 30px;
  height: 22px;
  padding: 0;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #C8922A;
  border-radius: 2px;
}

.hamburger::before {
  top: 2px;
  box-shadow: 0 8px 0 #C8922A;
}

.hamburger::after {
  top: 18px;
}

@media (max-width: 1180px) { /* Responsivo para Tablet ou resoluções medianas */
  nav {
    flex-wrap: wrap;
  }

  .main-container {
    margin: 20px;
    font-size: 1.2rem;
  }

  .perks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width: 700px) { /* Responsivo para Mobile ou resoluções muito pequenas */
  nav {
    position: relative;
    padding: 12px 16px;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0px;
    width: max-content;
    min-width: 200px;
    background-color: #0D0D0D;
    border: 1px solid #17100A;
    border-radius: 0px 8px;
    padding: 12px;
    z-index: 10;
  }

  .nav-links,
  .nav-auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .nav-menu.aberto {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .perks-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .hamburger {
    display: block;
    order: 2;
    margin-left: auto;
  }

  .logo {
    order: 1;
  }

  .main-container {
    font-size: 1rem;
  }
}